<div class ="card">
  <div class="card-header">
    Players
  </div>
  <div class="card-body">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf='players && players.length'>
        <thead>
        <tr>
          <th>
            Id
          </th>
          <th>
            Name
          </th>
        </tr>
        </thead>
        <tbody>
        <!--<tr *ngFor='let player of players' (click)="showPlayerDetail(player)">-->
          <!-- man kunne tilsvarende have brugt
         <tr *ngFor='let player of players' <a [routerLink]= "['/players', player.id]">
          -->
        <tr *ngFor='let player of players' [routerLink]= "['/players', player.id]">


          <td>{{ player.id }} </td>
          <td>{{ player.name | lowercase}} </td>
          <!--<td>{{ player.points }} </td>-->
          <!--<td>
            <img
              [src]='game.imgUrl'
              [style.width.px]='25'
              [style.margin.px]='25'
            />
          </td>-->

        </tr>

        </tbody>

      </table>
    </div>
  </div>
  <button class="btn btn-primary" routerLink="/add-players">
    Add Players
  </button>

</div>
<!--<app-player></app-player>-->
